
  <div class="row d-flex justify-content-center border border-secondary m-3" style="position:relative">
    <div class="cricle">
      <div class="circle"><span>{{value}}</span></div>
    </div>
    <div class="col-sm-6 text-center p-4">
      <button class="btn btn-primary btn-lg" (click)="btnClick(1)">Button1</button>
    </div>
    <div class="col-sm-6 text-center p-4">
      <button class="btn btn-primary btn-lg" (click)="btnClick(2)">Button2</button>
    </div>
    <div class="col-sm-6 text-center p-4">
      <button class="btn btn-primary btn-lg" (click)="btnClick(3)">Button3</button>
    </div>
    <div class="col-sm-6 text-center p-4">
      <button class="btn btn-primary btn-lg" (click)="btnClick(4)">Button4</button>
    </div>
  </div> 
